<h2><b> Pick a Track </b></h2>
<p>We’ve picked experts driven roadmaps to give you an idea about the landscape </p>
<p>Based on your profile, you are looking to switch to <strong>software development</strong></p>


<% @topic_track.each do |tt| %>
  <p><%= tt %></p>
<% end %>